body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2c2c54);
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.btn-login {
    background: #e60023;
    padding: 8px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}

/* BOTON */
.btn-main {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #e60023;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}